<!doctype html>
<title>Quandle Stock Price</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Your input is not correct</h1>
  <div class=metanav>

    <h2>
      Please check Stock Ticker Symbol and Data Keys.
    </h2>
    <h4>
      <br> Data Key should be one of following : </br>
      <br> Open, High, Low, Close, Adj. Open, Adj. High, Adj. Low, Adj. Close</br>
    </h4>
    <p><a href="/index"><font size=+1>Back</a></br>
  </div>
  
